<table class="table table-sm" id="side-content">
  <thead>
  <tr>
    <th colspan="2" scope="col" style="text-align: center">fitnesse-ssh-fixture</th>

  </tr>
  </thead>
  <tbody>
  <tr>
    <td colspan="2" style="white-space: unset;text-align: center">
      <img alt="fitnesse-ssh-fixture-jumbotron" src="assets/images/splash-table.png">
    </td>
  </tr>
  <tr>
    <td>Release</td>
    <td><a [href]="env.downloadUrl">v1.0.0</a></td>
  </tr>
  <tr>
    <td>GitHub</td>
    <td><a [href]="env.gitHubUrl">https://github.com/gun88/fitnesse-ssh-fixture</a></td>
  </tr>
  <tr>
    <td>Wiki</td>
    <td><a [href]="env.wikiUrl">https://github.com/gun88/fitnesse-ssh-fixture/wiki</a></td>
  </tr>
  <tr>
    <td>Documentation</td>
    <td><a href="PlugIns.SshFixture.UserGuide">UserGuide</a></td>
  </tr>
  </tbody>
</table>
